.container-beneficios {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 33% 33%;
    gap: 1.5rem;
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
}

.item-beneficios {
    background-color: #efefef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px #575757;
    border: 1px solid #575757;
    height: 10rem;
}

.item-beneficios>img {
    height: 7rem;
}

.text-beneficios>h3 {
    font-weight: bold;
    font-size: 20px;
    color: #1dc6e4;
}

.text-beneficios>span {
    color: #3c3c3c;
    font-weight: bold;
    font-size: 14px;
}